#chart {
    background: #0e3040;
    color: #67809f;
  }
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 50%;
    left: 0px;
    opacity: 0.5;
    filter: alpha(opacity=50);
 }